// Define breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Max-width breakpoint mixin

@mixin xs {
  @media screen and (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: $breakpoint-xl) {
    @content;
  }
}
